/*  your css code here. If applicable */
.container{
	width:500px;
	height:200px;
	border:5px solid black;
	border-radius:50px;
	display:flex;
    align-items:center;
	justify-content:center;
	background:lightgray;
}
.circle-red{
	width:100px;
	height:100px;
	background:red;
	margin:5px;
	border-radius:50%;
}
.circle {

            width: 80px;
            height: 80px;
            border-radius: 50%;
            margin: 10px;
        }

        .red {
            background-color: #ff5555;
        }

        .green {
            background-color: #55aa55;
        }

        .yellow {
            background-color: #ffcc55;
        }